:root {
--main-text-color:#212121;
--second-text-color:#757575;
--color-wtite:#FFFFFF;
--brand-color:#2196F3;
--color-light-gray: #F5F4FA;
}


body {
   background: var(--color-wtite);
   font-family: 'Roboto'
 }
.list {
    list-style: none;
}

/* header */
header {
    width: 1600;
    height: 80;
        }
a {
    text-decoration: none
}    

.header-logo {
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    color: var(--brand-color) ;
   }
.header-logo span {
    color: #000000;
}
.site-nav a {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    color: var(--main-text-color)
}
.site-nav a:hover, 
.site-nav a:focus {
    color: var(--brand-color);
}
a.current {
    color: var(--brand-color);
}
.auth-nav {
            font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
color: var(--second-text-color);
}
.auth-nav:hover,
.auth-nav:focus {
    color: var(--brand-color);
}
/* main */
.hero {
    background-color: #2F303A;
}
.hero-title {
          font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    color: var(--color-wtite)
    
}
.hero-button {
    
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--color-wtite);
    cursor: pointer;
    }
.hero-button:hover,
.hero-button:focus{
background-color: #188CE8;
}
.features {

}
.features h2 {
    display: none;
}

.features h3 {
          font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
   color: var(--main-text-color); 
}
.features p {
         font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.working h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--main-text-color) ;
}
.team {
    background-color: var(--color-light-gray);
}
.team h2  {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.team h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.team p {
         font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
    color: var(--second-text-color);
}
/* footer */
footer {
background-color: #2F303A;
}
.footer-logo {
    font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
    color: var(--brand-color);
}
.footer-logo span  {
    color: var(--color-wtite);
}
address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
.company-address {
    color: var(--color-wtite);
    }
.company-mail,
.company-phone {
    color: rgba(255, 255, 255, 0.6);
    }

            /* Portfolio */

.filters-list button {
    font-family: 'Roboto';
    font-weight: 500;
        font-size: 16px;
        line-height: 26px;
background: var(--color-light-gray);
color: var(--main-text-color);
cursor: pointer;
}
.filters-list button:hover,
.filters-list button:focus {
    background: var(--brand-color);
        color: var(--color-wtite);
}     
.works-list H2 {
font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    color: var(--main-text-color);
}
.works-list p {
    font-weight: 400;
        font-size: 16px;
        line-height: 188%;
        color: var(--second-text-color);
}


